.st-key-green button {
    background-color: green;
}
.st-key-styledtextfail{
    color: #FF0000;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 24px;
}

.st-key-styledtextnotfail{
    color: #00FF00;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 24px;
}
